// Banner Area Start
.banner-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 822px;
    background-attachment: fixed;

    .banner-wrapper {
        min-height: 822px;
    }

    p {
        color: $white;
    }
}

.banner-content-wrapper {
    .banner-title {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.4;
    }

    .banner-sub-title {
        font-size: 16px;
        font-weight: 600;
        color: $orange;
        letter-spacing: 2px;
    }
}
// Banner Area End

// Our Service Start
.our-services-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    .service-right-bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 550px);
        z-index: 1;
    }
}
// Our Service End

// Our Work Start
.our-work-slider {
    .slick-list {
        margin: 0 -15px;
    }
}

.work-slide-box {
    margin: 0 15px;
    @extend .transition;

    &:hover {
        .work-featured-image {
            &:before {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 1;
            }
        }

        .work-box-title {
            color: $orange !important;
        }
    }

    .work-box-title {
        font-size: 22px;
        font-weight: 600;
        @extend .transition;
    }

    .work-box-sub-title {
        font-size: 16px;
        color: $body-color;
        font-weight: 400;
    }

    .work-featured-image {
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            height: 10px;
            width: 10px;
            background: rgba($tmpcolor, 0.2);
            z-index: 10;
            opacity: 0;
            @extend .transition;
        }
    }
}
// Our Work End

// Vision And Mission Start
.vision-mission-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($tmpcolor, 0.8);
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.vision-mission-box-wrapper {
    margin-bottom: -230px;
    box-shadow: 0 10px 20px rgba($black, 0.18);
    .item-box {
        background-color: #fbfbfb;
        color: $body-color;
        border-right: 1px solid #e0e0e0;
        @extend .transition;

        &:last-of-type {
            border-right: 0;
        }

        &:hover {
            background-color: #f5f5f5;

            &:before {
                right: 0;
                opacity: 1;
            }
        }

        &:before {
            position: absolute;
            content: "";
            right: -194px;
            top: 0;
            height: 100%;
            width: 194px;
            background-image: url(../img/vision-mission/hover-icon.png);
            background-repeat: no-repeat;
            opacity: 0;
            @extend .transition;
        }

        figure {
            min-height: 45px;
        }
    }
}
// Vision And Mission End

// Our Team Start
.team-slider {
    .slick-list {
        margin: 0 -15px;
    }
}

.team-item-box {
    margin: 0 15px;
    &:hover {
        .team-mamber-featured-box {
            &:before {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 1;
            }
        }

        .social-media-list {
            bottom: 0;
        }
    }

    .team-mamber-featured-box {
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            height: 10px;
            width: 10px;
            background: rgba($tmpcolor, 0.2);
            z-index: 10;
            opacity: 0;
            @extend .transition;
        }
    }

    .social-media-list {
        background: rgba($tmpcolor, 0.7);
        position: absolute;
        left: 0;
        bottom: -100%;
        height: auto;
        width: 100%;
        z-index: 99;
        @extend .transition;

        a {
            color: $orange;
            padding: 5px 10px;
        }
    }

    .team-item-title {
        font-size: 22px;
        font-weight: 600;
    }

    .team-item-subtitle {
        font-size: 16px;
        color: $body-color;
        font-weight: 400;
    }
}
// Our Team End

// Achieve Start
.achieve-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($tmpcolor, 0.8);
    }

    .container {
        position: relative;
        z-index: 1;

        p {
            margin-bottom: 0;
        }
    }
}

// Achieve End

// Counting Start
.counting-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($tmpcolor, 0.8);
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.counting-item {
    &:hover {
        .counting-icon {
            border-color: $orange;
        }
    }

    .counting-number {
        font-size: 50px;
        font-weight: 600;
        color: $orange;
    }

    p {
        margin-bottom: 0;
    }
}
// Counting End

// Contact Us Start
.contact-us-area {
    background-color: #fafafa;

    .form-control {
        height: calc(2.5em + 0.75rem + 2px);
        border: 1px solid #eaeaea;
        @extend .transition;

        &:focus {
            box-shadow: 0 0 0 0.05rem $tmpcolor;
        }
    }
    textarea {
        &.form-control {
            min-height: 180px;
        }
    }
}
// Contact Us End