.header {
    @extend .transition;
    z-index: 9999;

    .nav-link {
        color: $white !important;
    }

    &.bg-white {
        background-color: #e0e0e0 !important;
        box-shadow: 0 5px 10px rgba($black, 0.4);
        .nav-link {
            color: $tmpcolor !important;
        }
    }

    .navbar {
        &.bg-light {
            background: transparent !important;
        }

        &.navbar-light {
            .navbar-nav {
                .nav-link {
                    color: #fff;
                }
            }
        }
    }

    .navbar-light {
        .navbar-toggler[aria-expanded="false"] {
            .navbar-toggler-icon {
                background-image: url(../img/toggler-icon.svg);
            }
        }
    
        .navbar-toggler[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-image: url(../img/toggler-close-icon.svg);
            }
        }
    
        .navbar-toggler {
            color: $white;
            border-color: $white;
            background-color: $white;
        }
    }
}

.navbar-expand-md {
    .navbar-nav {
        .nav-item {
            &:last-of-type {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
        .nav-link {
            font-size: 14px;
            padding-right: 54px;
            font-weight: 500;

            &:hover {
                color: $orange !important;
            }
        }
    }
}