// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .footer-menu {
        li {
            a {
                padding: 10px;
            }
        }
    }
}
// (desktops, less than 1200px)

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
    
}
//(tablets, less than 992px)

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    .banner-area {
        min-height: auto;
        .banner-wrapper {
            min-height: auto;
        }
    }

    .banner-content-wrapper {
        .banner-title {
            font-size: 30px;
        }
    
        .banner-sub-title {
            font-size: 16px;
        }
    }
}
//(landscape phones, less than 768px)

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    .vision-mission-box-wrapper {
        .item-box {
            border-right: 0;
            border-bottom: 1px solid #e0e0e0;

            &:last-of-type {
                border-bottom: 0;
            }

            &.w-50 {
                width: 100% !important;
            }
        }
    }
}
//(portrait phones, less than 576px)